<div class="row">
  <div class="col s12 m6">
    <ul class="collapsible popout" data-collapsible="accordion">
      <% @bulletins.each do |bulletin| %>
          <li>
            <div class="collapsible-header"><%= bulletin.title %></div>
            <div class="collapsible-body"><p>
              <% if bulletin.contents.include? '<a href="' %>
                <%= bulletin.contents.gsub!('href="', '<a href="https://online.mmu.edu.my/').html_safe %>
              <% else %>
                <%= bulletin.contents.html_safe %>
              <% end %>
            </p></div>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="col s12 m6" id="mmls_column">
    <div class="row">
      <div class="error-message-box card-panel col s8 hidden">
        <i class="material-icons left">
        warning
        </i>
        <p class="error-message">Error Message Here</p>
      </div>

    <%= form_tag mmls_api_path, id: "mmls_login_form",class: "col s12 m12 l8 card-panel", remote: true %>
 
      <h4 class="form-title">MMLS Login</h4>
      <div class="row">
        <div class="input-field col s12">
          <%= text_field_tag :student_id, nil, class: "validate" %>
          <label for="student_id">Student ID</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= password_field_tag :password, nil, class: "validate" %>
          <label for="password">Password</label>
        </div>
         <button class="btn waves-effect waves-light submit-button" type="submit" name="action">Submit
          <i class="material-icons">send</i>
        </button>
      </div>
    </form>
  </div>
    <div class="preloader-wrapper big active hidden loading-spinner">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>

        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
      
  </div>
</div>
<script>

</script>
