<div class="row">
  <div class="col s12 m6">
    <ul class="collapsible popout" data-collapsible="accordion">
      <% @bulletins.each do |bulletin| %>
          <li>
            <div class="collapsible-header"><%= truncate(bulletin.title, length: 60) %></div>
            <div class="collapsible-body"><p>
              <% if bulletin.contents.include? '<a href="' %>
                <%= bulletin.contents.gsub!('href="', '<a href="https://online.mmu.edu.my/').html_safe %>
              <% else %>
                <%= bulletin.contents.html_safe %>
              <% end %>
            </p></div>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="col s12 m6" id="mmls_column">
    <div class="row">
      <div class="error-message-box card-panel col s8 hidden">
        <i class="material-icons left">
        warning
        </i>
        <p class="error-message">Error Message Here</p>
      </div>

    <%= form_tag mmls_api_path, id: "mmls_login_form",class: "col s8 card-panel", remote: true %>
 
      <h4 class="form-title">MMLS Login</h4>
      <div class="row">
        <div class="input-field col s12">
          <%= text_field_tag :student_id, nil, class: "validate" %>
          <label for="student_id">Student ID</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= password_field_tag :password, nil, class: "validate" %>
          <label for="password">Password</label>
        </div>
         <button class="btn waves-effect waves-light submit-button" type="submit" name="action">Submit
          <i class="material-icons">send</i>
        </button>
      </div>
    </form>
  </div>
    <div class="preloader-wrapper big active hidden loading-spinner">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>

        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
      
  </div>
</div>
<script>
$(document).ready(function(){
    $('#mmls_login_form').on('ajax:send', function(xhr) {
      $("#mmls_login_form").hide();
      $(".loading-spinner").show();
    }).on('ajax:success',function(e, data, status, xhr){
      $(".loading-spinner").hide();
      $(".error-message-box").hide();
      // alert(data);
      $(function() {
        $("#mmls_column").append("<h4>This Week</h4>");
        var outer = $("#mmls_column").append('<ul class="collapsible" data-collapsible="accordion"></ul>').addClass("collapsible popout").find('ul');
        $.each(data, function(i, item) {
          outer_li = $("<li></li>").appendTo(outer);
          outer_li.append('<div class="collapsible-header">' + item.name + '</div>');
          console.log(item.name);
          $.each(item.weeks, function(i, week) {
              if(i == 0) {
                var inner_week = $('<div class="collapsible-body"></div>').appendTo(outer_li);
                var week_container = $('<ul class="collapsible" data-collapsible="accordion"></ul>').appendTo(inner_week);
                console.log(week.title);
                $.each(week.announcements, function(i , announcement) {
                  week_li = $("<li></li>").appendTo(week_container);
                  $('<div class="collapsible-header">' + announcement.title + "</div>").appendTo(week_li);
                  $('<div class="collapsible-body">' + announcement.contents + "</div>").appendTo(week_li);
                })
              }
          })

        })
        $('.collapsible').collapsible({
          accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion 
        });
      })
    }).on('ajax:error',function(e, xhr, status, error){
      var jsonValue = jQuery.parseJSON( xhr.responseText);
      $(".error-message-box").show();
      $(".error-message").text(jsonValue.error);
      $(".loading-spinner").hide();
      $("#mmls_login_form").show();

    });
  });
</script>
